:root {
   --primary: #fcf261;
}
.active{
  color: #fff019;
 
}
.swiper-container{
  height: 100%;
  background: #000;
}
.swiper-pagination {
  position: relative;
  width: 100% !important;
  bottom: -40px;
  padding-top: 320px;
}
.swiper-pagination .swiper-pagination-bullet{
  filter: drop-shadow(0 8px 24px rgba(18,28,53,0.1));
}
.swiper-pagination .swiper-pagination-bullet-active{
  background: var(--primary);
}